@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body, p, a, h1, ul, img {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 24px;
    padding-left: 36px;
    padding-right: 36px;
    
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    flex-shrink: 0;
}

.header-menu {
    display: flex;
    gap: 16px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    max-width: 75px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
}

.content-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 200px;
    flex-wrap: wrap;
    gap: 80px;
}

.cover-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.cover-subtext {
    color: white;
}

.cover-link {
    background-color: #3882F6;
    color: white;
}

.cover-img {
    max-width: 500px;
    max-height: 500px;
}

.content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 50px;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-img {
    width: 200px;
    border: #3882F6 solid 4px;
    border-radius: 20px;
}

.card-subtext {
    width: 200px;
    text-align: center;
}

.content-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
    padding-right: 450px;
    padding-left: 450px;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 900px;
}

.quote-box {
    display: flex;
}

.quote-author {
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
    width: 900px;
    text-align: end;
}

.content-engagement {
    display: flex;
    flex-direction: column;
    margin: 100px 600px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.engagement-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    padding: 40px 30px;
    gap: 80px;
    border-radius: 8px;
    max-width: 900px;
    flex-shrink: 0;
}

.engagement-text {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.engagement-title {
    font-size: 18px;
    font-weight: bold;
}

.engagement-link {
    background-color: #3882F6;
    color: white;
    border: white solid 2px;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 50px 70px;
    text-align: center;
}