@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body, p, a, h1, ul, img {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 24px;
    padding-left: 36px;
    padding-right: 36px;
    
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    flex-shrink: 0;
}

.header-menu {
    display: flex;
    gap: 16px;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.content-cover {
    display: flex;
    background-color: #1F2937;
    padding: 200px;
    flex-wrap: wrap;
    gap: 80px;
}

.cover-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
}

.cover-subtext {
    color: white;
}

.cover-link {
    background-color: #3882F6;
    color: white;
}

.cover-img {
    max-width: 500px;
    max-height: 500px;
}

.content-info {

}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}

.card-img {
  
}

.card-subtext {
    
}

.content-testimonials {
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
   
}

.quote-author {
    
}

.content-engagement {

}

.engagement-card {
    background-color: #3882F6;
}

.engagement-text {
    color: white;
}

.engagement-title {
    
}

.engagement-subtext {
    
}

.engagement-link {
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
}